<div class="main">
    <div class="main-text" id="main">
        <div class="main-title">
            <p><span>Я, </span>Ансель Адамс</p><br>
            <h1>Арт-фотограф</h1>
        </div>
    </div>
    <div class="main-image">
        <img src="../../../../assets/main-background.png" class="main-background" alt="Main background image" width="1920" height="800">
    </div>
</div>

<div class="content container">
    <app-bio id="bio" #bio></app-bio>

    <app-cardlist id="project"></app-cardlist>

    <app-contacts id="contact"></app-contacts>
</div>