.admin {
    margin: 45px 0px 40px 0px;
    display: flex;
}

@media screen and(max-width:600px) {
    .admin {
        flex-direction: column;
        margin: 0;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .admin {
        flex-direction: column;
        margin: 0;
    }
}
@media (min-width: 900px) and (max-width: 1440px) {
    .admin {
        margin: 45px 25px 40px 25px;
    }
}
