<div class="contacts">
    <div class="contacts-text">
        <div class="contacts-title title">
            Контакты
        </div>
        <div class="contacts-info">
            <div class="high">Москва</div>
            <div class="high">Санкт-Петербург</div>
        </div>

        <div class="contacts-info">
            <div class="link">anseladams@gmail.com</div>
            <div class="info__number link">(705) - 420 - 48 - 35</div>
        </div>

        <div class="contacts-info">
            <div class="high">Понедельник - Пятница</div>
            <div class="info__number time">9:00 - 20:00</div>
        </div>
        <div class="contacts-info">
            <app-social-bar></app-social-bar>
        </div>
    </div>
    <app-callbackform></app-callbackform>
</div>