<div class="bios">
    <div class="bio-image">
        <img src="../../../../assets/contact/contact.png" alt="bio image" width="733" height="595">
    </div>
    <div class="bio-text">
        <div class="bio__title">
            Био
        </div>
        <div class="bio__name">
            <div class="name">
                Ансель Адамс
            </div>
            <div class="name__subtitle">
                авг. 12 1990
            </div>
        </div>
        <div class="bio__info">
            Я занимаюсь фотграфией уже на протяжении <span>25 </span>лет, за это время я сделал более миллиарда снимков,
            в более чем
            <span>120 </span>странах нашей планеты.
        </div>
        <div class="bio__q">
            «Первые <span>10 000</span> фотографий – худшие»
            <span>Анри Картье-Брессон.</span>
        </div>
        <div class="bio__social">
            <app-social-bar></app-social-bar>
        </div>
    </div>
</div>